CLOUDFLARE_ACCOUNT_ID= # → BSM nikomaru: nikomaru-vrc/CLOUDFLARE_ACCOUNT_ID
CLOUDFLARE_API_KEY= # → BSM nikomaru: nikomaru-vrc/CLOUDFLARE_API_KEY
TABLE_URL= # → BSM nikomaru: nikomaru-vrc/TABLE_URL / CF Store: nikomaru_vrc_TABLE_URL
